/* Global Styles */
.hidden {
    display: none;
}

body {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.spinner {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 6px solid #0088ff;
	border-top-color: #999999;
	border-radius: 50%;
	animation: spin 1s ease-in-out infinite;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
  }
  
  @keyframes spin {
	to { transform: rotate(360deg); }
  }
	
	span.required {
	color: #ff0000;
	}
	
	/* Media Queries */
	@media screen and (max-width: 767px) {
	}